@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap");

body {
  background-color: #ecf0f1;
  font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: rgb(52, 73, 94);

  text-align: center;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #9b59b6;
}

.btn {
  cursor: pointer;
}

p {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: blue;
}

.form,
.greetings {
  display: none;
}

.form {
  text-align: center;
}

.showing {
  display: block;
}

.colored {
  color: red;
}

.js-toDoForm {
  text-align: center;
}

.js-toDoForm .toDoInput {
  font-size: 22px;
}
